@import '../../styles/app';

.dashboard-page {
  .post-comments footer {
    margin: 0 (-$widget-padding-horizontal) (-$widget-padding-vertical);
    padding: $widget-padding-vertical $widget-padding-horizontal;
  }

  .stat-item .name {
    margin-top: 10px;
  }

  .table {
    .table.table-sm {
      td {
        font-size: 1rem;
        vertical-align: middle;
      }
    }
  }
}

.v-calendar {
  background: none !important;
  border: none !important;
  display: block !important;
  color: $text-color !important;
}

.area-chart :global(canvas) {
  width: 100% !important;
}

html{
  font-family: '微軟正黑體';
}

.top-grid{
  display: grid;
  grid-template-columns: 85% 15%;
  padding-bottom: 20px;
  border-bottom: 0.5px #FFFFFFB3 solid;
}

.top-grid h1{
  color: white;
  font-weight: bolder;
  letter-spacing: 0.1rem;
}

.top-grid a{
  border: 0.5px white solid;
  border-radius: 5px;
  color: white;
  font-family: '微軟正黑體';
  font-weight: normal;
  background-color: #313233B3;
  padding:10px 30px;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  text-decoration:none;
}

.top-grid a:hover{
  color: white;
  text-decoration: none;
}

.instructions{
  font-size: 1.2rem;
  color:white;
  padding:10px 0px;
  font-weight: bolder;
  letter-spacing: 0.1rem;
}

.box{
  background-color: #313233B3;
  color:white;
  letter-spacing: 0.1rem;
  padding:20px;
  margin:5px 0px;
}

.box p{
  margin:30px 0px 0px 0px;
  padding-left:15px;
}

.box input[type="radio"]{
  display: none;
  // background:url(/img/radio_dis.png)
}

.box input[type="radio"] + label{
  font-size:1.2rem;
  display: flex;
  align-items: center;
}

.box input[type="radio"] + label span{
  display:inline-block;
  width:20px;
  height:20px;
  vertical-align:middle;
  background:url(../../assets/radio_dis.png);
  cursor:pointer;
  margin-right: 10px;
}

.box input[type="radio"]:checked + label span{
  background: url(../../assets/radio_en.png);
}